Repository eth-cscs/DLA-Future-Fortran, pull requests merged in 2024-06, with the labels that each got.

#12 Improve release script
  scripts/roll_release.sh
Labels: enhancement, release

#13 Update Spack in CI and use intel-oneapi-mkl +gfortran variant
  ci/ci-common.yml
  ci/docker/common.yaml
Labels: ci

#14 Fix release script
  scripts/roll_release.sh
Labels: release
